<section class="libros-page">
  <div class="libros-page__layout">
    <aside class="libros-page__form-column">
      <app-libro-form
        [libro]="selectedLibro()"
        [autores]="autores()"
        [isSaving]="isSaving()"
        [isDeleting]="isDeleting()"
        [isCreating]="isCreating()"
        [isLoadingAutores]="isLoadingAutores()"
        [errorMessage]="errorMessage()"
        [successMessage]="successMessage()"
        (save)="onSaveLibro($event)"
        (delete)="onDeleteLibro($event)"
        (deletePermanent)="onDeletePermanent($event._id!)"
        (cancel)="onCancelEdit()"
        (restoreLibro)="onRestore($event)"
      >
      </app-libro-form>
    </aside>

    <section class="libros-page__list-column">
      <app-libros-list
        [libros]="paginatedLibros()"
        [selectedLibroId]="selectedLibro()?._id ?? null"
        [isLoading]="isLoading()"
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        [totalItems]="totalItems()"
        [pageSize]="pageSize()"
        (selectLibro)="onSelectLibro($event)"
        (createNew)="onCreateNew()"
        (pageChange)="onPageChange($event)"
        (nextPage)="onNextPage()"
        (previousPage)="onPreviousPage()"
        (search)="onSearch($event)"
        (deletePermanent)="onDeletePermanent($event)"
      >
      </app-libros-list>
    </section>
  </div>
  <app-toast></app-toast>
</section>